@using Blog_le6perite.Classes;
@{
    ViewBag.Title = "Home";
}

@model List<Blog_le6perite.Models.Post>
<style>
    a{
        color: #E8B71A;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    $(document).ready(function openNav() {
        $('#button').click(function () {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            $('#button').hide();
        })        
    });

    $(document).ready(function closeNav() {
        $('#closeBut').click(function () {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            $('#button').show();
        })
    });
</script>

<style>
    a {
        color: #E8B71A;
    }
</style>
<div id="mySidenav" class="sidenav" style="text-align: center">
    <a href="javascript:void(0)" class="closebtn" id="closeBut" onclick="closeNav()">&times;</a>
    <h3>Current Time:</h3>
    <iframe src="http://free.timeanddate.com/clock/i5c7ud5n/n3443/fn6/fs16/fcf7eac8/tct/pct/ftb/pa8/tt0/tw1/th1/ta1/tb4" frameborder="0" width="213" height="56" allowTransparency="true" id="clock"></iframe>

    <h3>Most recent posts:</h3>
    @foreach (var post in ViewBag.SidebarPosts)
    {
        <a href="Posts/Details/@post.Id" class="hyperlink" style="font-size: 1.1em;text-align: center"> @post.Title</a>
    }
</div>

<!-- Use any element to open the sidenav -->
@*TODO: Remove sidebar if zoomed in / browser width <*@
<br />
<button class="btn btn-default" id="button" onclick="openNav()">Open sidebar</button>
@*<div class="row" id="sidebar" style="text-align: center">
    <h3>Current Time:</h3>
    <iframe src="http://free.timeanddate.com/clock/i5c7ud5n/n3443/fn6/fs16/fcf7eac8/tct/pct/ftb/pa8/tt0/tw1/th1/ta1/tb4" frameborder="0" width="213" height="56" allowTransparency="true" id="clock"></iframe>

    <h3>Most recent posts:</h3>
    @foreach (var post in ViewBag.SidebarPosts)
    {
        <div><a href="Posts/Details/@post.Id" class="hyperlink"> @post.Title</a></div>
    }
</div>*@
<div id="main" style="margin-top:15px;">
    @foreach (var post in Model)
    {
        <section class="row">
            <article class="post col-md-12">
                <h2 class="title"><a href="/Posts/Details/@post.Id" class="hyperlink">@post.Title</a></h2>
                <div class="about">
                    Posted on <i>@post.Date</i>
                    @if (post.Author != null)
                    {
                        @: by <i>@post.Author.FullName</i>
                }
                </div>
                <div class="body">@Html.Raw(Utils.CutText(post.Body)) @if (post.Body.Length > 400) {@Html.ActionLink("Read more", $"Details/{post.Id}", "Posts")}</div>
            </article>
        </section>
    }
</div>

