@using Blog_le6perite.Classes;
@{
    ViewBag.Title = "Home";
}

@model List<Blog_le6perite.Models.Post>

<aside class="row" id="sidebar" style="text-align: center">
    @*<h3>Current Time:</h3>*@
    @*<embed src=http://flash-clocks.com/free-flash-clocks-blog-topics/free-flash-clock-161.swf width=200 height=100 wmode=transparent type=application/x-shockwave-flash>*@
    <h3>Most recent posts:</h3>
    @foreach (var post in ViewBag.SidebarPosts)
    {
        <div><a href="Posts/Details/@post.Id" class="hyperlink"> @post.Title</a></div>
    }
</aside>

@foreach (var post in Model)
{
    <section class="row">
        <article class="post col-md-8">
            <h2 class="title"><a href="/Posts/Details/@post.Id" class="hyperlink">@post.Title</a></h2>
            <div class="about">
                Posted on <i>@post.Date</i>
                @if (post.Author!=null)
                {
                    @: by <i>@post.Author.FullName</i>
                }
            </div>
            <div class="body">@Html.Raw(Utils.CutText(post.Body)) @Html.ActionLink("Read more", $"Details/{post.Id}", "Posts")</div>
        </article>
    </section>
}

