@model Blog_le6perite.Models.Post
@using Blog_le6perite.Models

@{     
    var commentText = "";
    ApplicationDbContext db = new ApplicationDbContext();
    if (IsPost)
    {
        commentText = Request.Form["commentText"];

        var comment = new Comment()
        {
            Text = commentText,
            Author = Page.CurrentUser,
            PostId = Model.Id
        };
        db.Comments.Add(comment);
        db.SaveChanges();
    }
    List<Comment> comments = db.Comments
        .Select(c => c)
        .Where(c => c.PostId == Model.Id)
        .ToList();

    ViewBag.Comments = comments;

}
@{
    ViewBag.Title = "Details";
}

<h2>Full content</h2>

<div>
    <h4>Article</h4>
    <hr />
    <section class="row">
        <article class="post col-md-12">
            <h2 class="title">@Html.Raw(Model.Title)</h2>
            <div class="about">
                Posted on <i>@Model.Date</i>
                @if (Model.Author != null)
                {
                    @: by <i>@Model.Author.FullName</i>
                }
            </div>
            <div class="body">@Html.Raw(Model.Body)</div>
        </article>
    </section>

    <br />
    <div style="text-align: left">
        <div><i>Leave your comment</i></div>
        <form method="post">
            <fieldset>
                <p>
                    <textarea rows="10" class="form-control" type="text" id="1" name="commentText" style="height: 100px"></textarea>
                </p>

                <p>
                    <input type="submit" name="buttonSubmit" onclick="redirect" value="Add comment" class="btn btn-default" style="" />
                </p>
            </fieldset>
        </form>
    </div>
    <br />   

    <h3>Comments</h3> <br>
    <div>
        @foreach (var comment in ViewBag.Comments)
        {
          <section class="row">
              <article class="post col-md-12">                  
                  <div class="about">
                      Posted on <i>@comment.Date</i>
                      @if (comment.AuthorId != null)
                      {
                          @: by <i>@comment.Author.FullName</i>
                      }else
                      {
                          @: by <i>anonymous</i>
                      }
                      </div>
                  <div class="body">@comment.Text</div>
              </article>
          </section>
        }
    </div>
          
</div>
<hr />
<p>
    @if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @: |
    }
    @Html.ActionLink("Back to posts", "Index")      
</p>