@model Blog_le6perite.Models.Post
@using Blog_le6perite.Models
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('input[type="submit"]').attr('disabled', true);
        $('textarea').on('keyup', function () {
            var textarea_value = $("#texta").val();
            if (textarea_value != '') {
                $('input[type="submit"]').attr('disabled', false);
            } else {
                $('input[type="submit"]').attr('disabled', true);
            }
        });

    });

</script>

<style>
    a {
        color: #E8B71A;
    }

    p > a{
        color: #542733;
    }
</style>

@{    
    var commentText = "";
    var commentAuthor = "";
    ApplicationDbContext db = new ApplicationDbContext();
    if (IsPost)
    {
        commentText = Request.Form["commentText"];
        commentAuthor = Request.Form["commentAuthor"];
        if (User.Identity.IsAuthenticated)
        {
            var comment = new Comment()
            {
                Text = commentText,
                Author = db.Users.Select(p => p).FirstOrDefault(p => p.UserName == HttpContext.Current.User.Identity.Name),
                PostId = Model.Id
            };
            db.Comments.Add(comment);
            db.SaveChanges();
        }
        else
        {
            var comment = new Comment()
            {
                Text = commentText,
                AuthorName = commentAuthor,
                PostId = Model.Id
            };
            db.Comments.Add(comment);
            db.SaveChanges();
        }

    }
    List<Comment> comments = db.Comments
        .Select(c => c)
        .Where(c => c.PostId == Model.Id)
        .OrderByDescending(c => c.Date)
        .ToList();

    ViewBag.Comments = comments;

}
@{
    ViewBag.Title = "Details";
}

<h2>Full content</h2>

<div>
    <h4>Article</h4>
    <hr />
    <section class="row">
        <article class="post col-md-12">
            <h2 class="title">@Html.Raw(Model.Title)</h2>
            <div class="about">
                Posted on <i>@Model.Date</i>
                @if (Model.Author != null)
                {
                    @: by <i>@Model.Author.FullName</i>
                }
            </div>
            <div class="body">@Html.Raw(Model.Body)</div>
        </article>
    </section>
    <h4 style="margin-top: 20px; margin-bottom: 20px">Leave your comment</h4>
    <div style="text-align: left">
        <form method="post">
            <fieldset>
                @if (!User.Identity.IsAuthenticated)
                {
                    @:Name:
                    <p>
                        <input class="form-control" type="text" id="2" name="commentAuthor"/>
                    </p>
                }
                Comment:
                <p>
                    <textarea rows="10" class="form-control" type="text" id="texta" name="commentText" style="height: 100px"></textarea>
                </p>
                
                <p>
                    <input type="submit" name="buttonSubmit" value="Add comment" id="addComment" class="btn btn-default" style="" />
                </p>
            </fieldset>
        </form>
    </div>  
    <h3>Comments</h3>
 <br>
    <div>
        @foreach (var comment in ViewBag.Comments)
        {
          <hr id="commentHr"/>
          <section class="row">
              <article class="post col-md-12">                  
                  <div class="about">
                      Posted on <i>@comment.Date</i>
                      @if (comment.Author != null)
                      {
                          @: by <i>@comment.Author.FullName</i>
                      }
                      else
                      {
                          if (comment.AuthorName == "")
                          {
                              @: by <i>anonymous</i>
                          }
                          else
                          {
                            @: by <i>@comment.AuthorName</i>
                          }
                          
                      }
                      </div>
                  <div class="body">@comment.Text <aside>@if (User.IsInRole("Administrators") || (comment.Author != null && User.Identity.Name == comment.Author.UserName))
                  {
                    @Html.ActionLink("Delete", "../Comments/Delete", new { id = comment.Id })
            }</aside></div>
              </article>
          </section>
          
        }
    </div>      
</div>
<hr />

<p>
    @if (User.IsInRole("Administrators"))
    {
        <a href="/Posts/Edit/@Model.Id" class="btn btn-default">Edit</a>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@ 
    }
    <a href="/Posts" class="btn btn-default">Back to posts</a>
    @*@Html.ActionLink("Back to posts", "Index")*@      
</p>