@model Blog_le6perite.Models.Post
@using Blog_le6perite.Models

@{     
    var commentText = "";
    if (IsPost)
    {
        commentText = Request.Form["commentText"];
        ApplicationDbContext db = new ApplicationDbContext();
        var comment = new Comment()
        {
            Text = commentText,
            Author = Page.CurrentUser,
            //AuthorId = Membership.GetUser(User.Identity.Name).ProviderUserKey.ToString(),/*Model.Author_Id*/
            PostId = Model.Id
        };
        db.Comments.Add(comment);
        db.SaveChanges();
    }
}


@{
    ViewBag.Title = "Details";
}

<h2>Full content</h2>

<div>
    <h4>Article</h4>
    <hr />
    <section class="row">
        <article class="post col-md-12">
            <h2 class="title">@Html.Raw(Model.Title)</h2>
            <div class="about">
                Posted on <i>@Model.Date</i>
                @if (Model.Author != null)
                {
                    @: by <i>@Model.Author.FullName</i>
                }
            </div>
            <div class="body">@Html.Raw(Model.Body)</div>
        </article>
    </section>

    <br />

    <div style="text-align: center">
        <div><i>Leave your comment</i></div>
        <form method="post">
            <fieldset>                
                <p>                    
                    <input type="text" name="commentText" value="@Request.Form["commentText"]" />
                </p>
                
                <p><input type="submit" name="buttonSubmit" value="Add comment" /></p>

            </fieldset>
        </form>    
    </div>
               
</div>
<hr />
<p>
    @if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @: |
    }
    @Html.ActionLink("Back to posts", "Index")
</p>
